<!DOCTYPE html>
<html lang="en" ng-app="ebayj">
<head>
<title>EbayJ</title>
<link rel="stylesheet" href="bootstrap/min/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="bootstrap/min/bootstrap.min.js"></script>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="angularjs/src/angular.js"></script>
<script src="angularjs/src/angular-route.js"></script>
<script src="angularjs/src/angular-resource.js"></script>
<script src="angularjs/src/angular-animate.js"></script>
<script src="angularjs/src/angular-cookies.js"></script>

<script src="login/login.module.js"></script>
<script src="login/login.component.js"></script>
<script src="app.module.js"></script>
<script src="app.config.js"></script>
<script src="registration/registration.module.js"></script>
<script src="registration/registration.component.js"></script>

<script src="advertisementslist/advertisementslist.module.js"></script>
<script src="advertisementslist/advertisementslist.component.js"></script>

<script src="advertisement/advertisement.module.js"></script>
<script src="advertisement/advertisement.component.js"></script>

<script src="header/header.module.js"></script>
<script src="header/header.component.js"></script>

<script src="payment/payment.module.js"></script>
<script src="payment/payment.component.js"></script>

<script src="transactions/transactions.module.js"></script>
<script src="transactions/transactions.component.js"></script>

<script src="cart/cart.module.js"></script>
<script src="cart/cart.component.js"></script>

<script src="bidslist/bidslist.module.js"></script>
<script src="bidslist/bidslist.component.js"></script>

<script src="profile/profile.module.js"></script>
<script src="profile/profile.component.js"></script>
</head>


<body>
	<header></header>
	<div ng-view></div>
</body>
</html>