<div class="container-fluid text-center">
	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4 text-left">
			<div>
				&nbsp;&nbsp;&nbsp;&nbsp;<img src="stylesheets/EBay_logo.png" alt="Ebay" height="75" width="200">
				<br>
			</div>

            <br/>
            <div class="alert alert-danger" ng-hide="invalid_login">
                <strong>Incorrect username or password</strong>
            </div>

			<div class="form-group">

				<div>
					<input  type="text" class="form-control "
						style="margin-bottom: 20px" name="email" ng-model="email"
						placeholder="Email Address">
				</div>
				<div>
					<input class="form-control" style="margin-bottom: 20px"
						type="password" name="password" ng-model="password"
						placeholder="Password">
				</div>

				<div style="margin-left: 125px">
					<input type="button" class="btn btn-primary" value="Login"
						ng-click="login()"> <input type="button"
						class="btn btn-default" value="SignUp" ng-click="signup()">
				</div>


			</div>
		</div>
		<div class="col-sm-4">

        </div>
	</div>
</div>